process.container = 'quay.io/nextflow/bash'

params.file2 = "$projectDir/resources/sample2.csv"
params.file3 = "$projectDir/resources/sample-pdf.pdf"
params.file4 = "$projectDir/resources/sample.txt"
params.multi = "$projectDir/resources/multiqc_report.html"
params.outdir = "/home/work/results"
params.outdir2 = "/home/work/results2"
