process.container = 'ubuntu'
params.read1 = 's3://nf-nvirginia/R{1,2}.fastq.gz'
params.outidr = 's3://dovetailtroubleshooting/'

profiles {
    aws {
        aws.region = 'us-east-1'
        process.executor = 'awsbatch'
        process.memory = '1 GB'
        //process.queue = 'manual_queue'
        process.queue = 'TowerForge-3GBedKyfCeLqBeMxOhgVlY-head'
        //process.container = 'quay.io/nextflow/bash'
        aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
    }
    slurm {
        process.executor = 'slurm'
        docker.enabled = 'true'
        process.queue = 'long'
    }
    azure {
        process.executor = 'azurebatch'
        process.queue = 'tower-pool-7ZELItI4ehuPA37zr8AN5f'
        process.container = 't0w3r.azurecr.io/bash'
    }
}
