params {
    references {
        genome {
            'Hsapiens_hg38_nongraph' {
                dragen_index = "${params.resolved_s3_reference_bucket}/references/Hsapiens/hg38/references/v4.3/hg38-alt_masked.cnv.hla.methylated_combined.rna-10-r4.0-1"
            }
        }
        gtf {
            'Hsapiens_gencode.v44.annotation' {
                path = "${params.resolved_s3_reference_bucket}/references/Hsapiens/hg38/annotations/Gencode_v44/gencode.v44.annotation.gtf.gz"
                gff = "${params.resolved_s3_reference_bucket}/references/Hsapiens/hg38/annotations/Gencode_v44/gencode.v44.annotation.gff3.gz"
            }
        }
    }
}
