profiles {
    dev_env {
        params {
            // These params are set in the dev_env profile
            tower_env                    = 'dev'
            tower_aws_acc_id             = '123456789'
            
            // Dynamic S3 bucket resolution based on above params
            resolved_s3_reference_bucket = "s3://${params.tower_env}-example-eu-west-1-${params.tower_aws_acc_id}"
            
            // Docker registry resolution
            resolved_docker_image_name = "${params.tower_aws_acc_id}.dkr.ecr.eu-west-1.amazonaws.com/${params.tower_env}-example"
        }
        
        // CRITICAL: includeConfig that references resolved params from above
        includeConfig './references.config'
    }
}
